src/
tsconfig.json
tsconfig.build.json
jest.config.js
test/
coverage
.vscode/
.devcontainer/
.eslintrc.js
.gitattributes
.gitignore
notes.md
.eslintrc.cjs
.prettierignore
.prettierrc.js
.gitmojirc.json
.lintstagedrc.js
.husky/
cspell.config.js
knip.js